#navbar{
    position: absolute;
    z-index: 1;
    width: 100%;
    .navbar{
    
        @include space-around;
        align-items: center;
        .left{
            a{
                color:$color-white;
                font-family: $font-logo;
                font-size:$size-icon;
                font-weight: $weight-Bold;
            }
        }   
        .middle{
            ul{
                @include space-between;
    
                li{
                    padding: 20px;
                    a{
                        color:$color-gray;
                        font-family: $font-regular;
                        font-size:$size-text;
                        font-weight: $weight-Normal;
                        transition: all 0.3s;
                        &:hover{
                            color:$color-white;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    
    }
}
