a{
    text-decoration: none;
}
.p-100{
    padding: 100px 0px;
}
.p-50{
    padding: 50px 0px; 
}
.p-40{
    padding: 40px 0px; 
}
.p-30{
    padding: 30px 0px; 
}
.p-20{
    padding: 20px 0px; 
}
.p-10{
    padding: 10px 0px; 
}

.mt-100{
    margin-top: 100px;
}
.mt-50{
    margin-top: 50px;
}
.mt-40{
    margin-top: 40px;
}
.mt-30{
    margin-top: 30px;
}
.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}