//FONT-SIZES
$size-sectHeaderH2: 32px;
$size-sectHeaderP: 20px;
$size-text: 16px;
$size-h3: 19.2px;
$size-slideText: 20.8px;
$size-icon: 24px;
$size-sectHeaderH1: 48px;
$size-statisticsNumber: 51.2px;

//FONT-FAMILY
$font-regular: "Nunito";
$font-logo: "Open-Sans";

//FONT-WEIGHT
$weight-ExtraBold: 900;
$weight-Normal:400;
$weight-Bold: 700;

//COLORS
$color-transpBlue: rgba(22,68,186,.9);
$color-blue: #1644ba;
$color-white: #fff;
$color-green: #28a745;;
$color-yellow: #fff568;
$color-black:#000;
$color-gray: rgb(127, 132, 140);
$color-lightGreen: #7ac64d;
$color-header: #333;
$color-footer:#242424;
$color-lightgray: rgba(255, 255, 255, 0.7);
